# Some lovely config values from https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
	name = RMcTn
	email = rmctiernan@protonmail.com
	signingkey = 52612EC5DF8FA5E5
[alias]
	lg = log --oneline
[commit]
	verbose = true # Shows the diff in the commit window
[core]
	editor = nvim
[column]
        ui = auto # Lets the UI put things in columns, rather than 1 large list
[branch]
        sort = -committerdate # Change branch sort to latest commit, rather than alphabetical
[tag]
        sort = version:refname # Change tag sort so that 0.5.101 comes BEFOER 0.5.1000
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true # No need to set --set-upstream origin!
	followTags = true # Pushes local tags that aren't on the server, on every push
[fetch]
	# prune = true	# If branches are deleted on the origin, they'll automatically be deleted locally on fetch. Not a fan of this, but putting it here just incase!
	# pruneTags = true
	all = true # Grab all changes on fetch, not just current branch
[rerere]
	# See https://blog.gitbutler.com/git-tips-1-theres-a-git-config-for-that/#reuse-recorded-resolution for more info on replays. Useful for rebases with conflicts over and over again
	enabled = true # Records the before and after states of rebase conflicts
	autoupdate = true # Automatically re apply the fixes if seen again. 
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
